<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="table-responsive">
  <table class="table table-bordered table-condensed tb-consultation">
     <tr>
        <th class="tb-hidden"> <%= "ID" %></th>
        <th> <%= "ФИО" %></th>
        <th class="tb-hidden"> <%= "Возраст клиента" %></th>
        <th> <%= "Суть вопроса" %></th>
        <th class="tb-hidden"> <%= "Срочность" %></th>
        <th class="tb-hidden"> <%= "Город пациента" %></th>
        <th class="tb-hidden"> <%= "Дата создания" %></th>
      </tr>

      <% @consultations.each do |consultation| %>
        <tr>
          <td class="tb-hidden"><%= link_to consultation.id, consultation_path(consultation) %></td>
          <td><%= link_to consultation.last_name << "  " << consultation.first_name << " " << consultation.patronymic_name, consultation_path(consultation) %> </td>
          <td class="tb-hidden"><%= consultation.age %></td>
          <td><%= consultation.subject %></td>
          <td class="tb-hidden"><%= consultation.importance %></td>
          <td class="tb-hidden"><%= consultation.city %></td>
          <td class="tb-hidden"><%= consultation.created_at %></td>
        </tr>
      <% end %>
  </table>
</div>

