<!-- <div style="width: 100%;"> -->
	<div class="section1">
		<div class="caption1">Пророк Сергей Юрьевич - Хирург-аритмолог</div>
		<div class="profile-wrap">
			<div class="profile">
				<%= image_tag("profile.jpg", :alt => "rss feed") %>
			</div>
			<div class="description">Есть много способов поправить своё пошатнувшееся здоровье, и наилучший из них – это обратиться к хорошему врачу. <br> Цените свое здоровье, обращайтесь за помощью к профессионалам.
        <div class="buttons">
          <%= link_to 'Задать вопрос', new_question_path, class: "btn1" %> 
          <%= link_to 'Записаться на консультацию', new_consultation_path, class: "btn1" %>
        </div>
      </div>

		</div>
	</div>
  <p id="notice"><%= notice %></p>
  

  <div class="slider">
  	<div class="slid"><%= image_tag("sl1.jpg", :alt => "sl") %></div> 
  	<div class="slid"><%= image_tag("sl2.png", :alt => "sl") %></div>
    <div class="slid"><%= image_tag("sl3.png", :alt => "sl") %></div> 
  </div>
<!-- </div> -->