<!-- <p id="notice"><%= notice %></p> -->

<!-- <h1>FAQ</h1> -->

<div class="faq-wrap">
  <div class="faq-bg">
    <div class="faq-list">
      <div class="faq-item">
        <div class="faq-question">У меня аритмия, что мне делать?</div>
        <div class="faq-answers">Термин «аритмия» охватывает огромное количество разнообразной патологии и не является диагнозом. Представьте, что Вы пришли в травмпункт и на вопрос о жалобах сообщаете, что у Вас травма. Первый шаг к излечению — правильный диагноз.</div>
      </div>

      <div class="faq-item">
        <div class="faq-question">У меня сердце бьется так: тук-тук пауза тук... Что это может быть?</div>
        <div class="faq-answers">Жалобы больного могут лишь натолкнуть врача на мысль о вероятной причине проблемы, но никак не помогут в точной диагностике. Любое нарушение ритма нужно зафиксировать документально — на ЭКГ, или холтеровском исследовании.</div>
      </div>

      <div class="faq-item">
        <div class="faq-question">Я сделал ЭКГ и УЗД сердца, но у меня аритмия, почему исследования не выявили эту проблему?</div>
        <div class="faq-answers">УЗД сердца отображает лишь структурную функцию сердца, но не отображает его электрофизиологические свойства. Прибегая к аналогиям: если сердце это дом то УЗД отображает только стены и окна, тогда как проводка отвечающая за ток не видна, но именно в ней и кроется проблема. Таким образом УЗД сердца очень слабый помощник в диагностике нарушений ритма. ЭКГ более важное для нас исследование, но проблема заключается в том, что оно отображает лишь несколько секунд работы сердца. И если на момент снятие ЭКГ аритмии не было, пленка, как правило, бесполезна.</div>
      </div>

      <div class="faq-item">
        <div class="faq-question">У меня есть пленка с аритмией, нужно ли еще какие то исследование?</div>
        <div class="faq-answers">Запись ЭКГ отображает всего несколько секунд работы сердца, чего, довольно часто, не достаточно для точного диагноза. В таких случаях необходимо провести холтеровское исследование ЭКГ. Также следует понимать, что нарушения ритма могут быть симптомом другой болезни, что можно выяснить лишь проведя ряд дополнительных анализов.</div>
      </div>

      <div class="faq-item">
        <div class="faq-question">А может мой ребенок «перерастет» аритмию? Это все возрастное.</div>
        <div class="faq-answers">Действительно, ряд незначительных нарушений ритма в подростковом возрасте могут быть обусловлены гормональной перестройкой организма и не требовать лечения. Как правило, такие аритмии самих пациентов не беспокоят и выявляются случайно. В тех случаях, когда присутствуют жалобы «перерастание» маловероятно.</div>
      </div>

      <div class="faq-item">
        <div class="faq-question">У меня/моего ребенка синдром/феномен Вольфа-Паркинсона-Уайта (WPW синдром), можно ли заниматься спортом? И вообще, что с ним делать?</div>
        <div class="faq-answers">Данная проблема являться малой аномалией развития сердца и не «рассасывается» с возрастом, или приемом таблеток. Заниматься спортом с таким диагнозом нельзя, т. к. существует риск внезапной сердечной смерти. Риск весьма небольшой - 0,09% но испытывать удачу все рано не рекомендовано. Пути лечения два: 1) прием препаратов временно блокирующих работу аномальной структуры; 2) хирургическое устранение аномальной структуры.</div>
      </div>

      <div class="faq-item">
        <div class="faq-question">Я пропил курс таких и таких таблеток, но аритмия не прошла, почему?</div>
        <div class="faq-answers">Нарушения ритма, как самостоятельные заболевания, почти всегда имеют конкретный очаг в сердце. Любые антиаритмические препараты только подавляют активность очага на время приема, но не устраняют его. Исключением являются аритмии вызванные инфекционными процессами.</div>
      </div>

      <div class="faq-item">
        <div class="faq-question">Что такое катетерная деструкция/абляция?</div>
        <div class="faq-answers">Малотравматичное вмешательство на сердце, суть которого заключается в разрушении очага аритмии путем нанесения ожога. Выполняется через сосуды бедра, без разрезов.</div>
      </div>

    </div>
  </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= link_to 'Show', answer %></td>
        <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
        <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
<!-- d
<%= link_to 'New Answer', new_answer_path %>
d -->